@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --trasition: 0.5s;
  --main-color: #706254;
  --main-color2: #96816c;
  --hover-color: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
#animation {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  position: fixed;
  z-index: 99999;
}
#animation div {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  top: 40%;
  left: 40%;
  border: 19px solid var(--main-color2);
  border-left-color: transparent;
  border-right-color: transparent;
  animation: loading 2.5s infinite linear;
}
/* Start Header */
header {
  background-color: var(--main-color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin: 15px;
}
header h1 a {
  color: black;
  text-decoration: none;
  transition: var(--trasition);
}
header h1 a:hover {
  color: #eee;
}
header nav {
  list-style: none;
  display: flex;
  justify-content: center;
}
header nav li {
  margin: 15px;
}
header nav li a {
  color: black;
  text-decoration: none;
  transition: var(--trasition);
}
header nav li a:hover {
  color: var(--hover-color);
}
/* End Header */
/* Start Main Section */
.main-sec {
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--main-color);
}
.main-sec h2 span {
  font-size: 50px;
  margin: 25px 50px;
  color: black;
}
.main-sec .social-icons {
  position: absolute;
  top: 525px;
}
.main-sec .social-icons i {
  font-size: 25px;
  color: black;
  transition: 0.5s;
}
.main-sec .social-icons i:hover {
  color: #eee;
}
/* End Main Section */
/* Animations */
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
